.box{
  
  background-color:#3a8794 ;
  height: 300px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}
.box h1{
  
 color:#ec66f6d6 ;
 padding: 5px;
 text-transform: uppercase;
 letter-spacing: 5px;
 font-family: SSans-Serif
 font-weight: bold;
}